doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title + ' - Muhammad Reda'
        block css

        block jsHead
            script(src='//localhost:35729/livereload.js')

    body
        block content


        block jsBody

